html{
  background-color: #cecece;
}
body{
  padding: 30px;
}
h1,h2,h3,h4,h5,h6, p{
  padding: 10px;
  margin: 0px;
}
p{
  font-size: small;
}
.card input{
  width: 90%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  padding: auto;
  margin: 0px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.clearall{
  clear: both;
}
.zero{
  padding: 0px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.third{
  width: 30%;
  padding: 1%;
}
.padding{
  padding: 30px;
}
.navbar{
  height: 20px;
  background-color: #1a1a1a;
  color: white;
  padding: 10px;
}
.navbar ul{
  list-style: none;
}
.left{
  float: left;
}
.right{
  float: right;
}
.v_space{
  margin-left: 15px;
}
.form_component{
  background-color: #f1f1f1;
  border-radius: 30px;
  padding: 15px;
}
.label_form{
  font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
}
.input_form{
  border: #d8d8d8 solid 1px;
  border-radius: 5px;
  background-color: rgb(226, 226, 226);
  margin: 10px;
  padding: 5px;
}
.form_btn{
  border-radius: 5px;
  background-color: rgb(31, 99, 25);
  margin: 10px;
  padding: 10px;
  color: white;
  border: none;
}
.form_btn.cancel{
  background-color: rgb(161, 0, 0);
}
.settings{
  font-size: small;
}
.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.gallery::after {
  content: "";
  flex: auto;
}
.gallery_container{
  width: 48%;
  overflow: hidden;
  padding: 0px;
}
.gallery_item{
  display: block;
  width: 100%;
  padding-right: 1%;
  list-style: none;
}
.gallery_img{
  display: block;
  position: relative;
  width: 100%;
  border-radius: 5px;
}
.gallery_desc{
  font-size: smaller;
}
.card{
  background-color: #f1f1f1;
  border-radius: 30px;
  padding: 5px;
}
.card_img{
  width: 100%;
  border-radius: 30px 30px 0px 0px;
}
.dialogue{
  background-color: #f1f1f1;
  padding: 5px;
}
.dialogue .Accept{
  background-color: #001641;
  color: white;
}
.dialogue .Cancel{
  background-color: #b3b3b3;
  color: white;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  color: #444;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  list-style: none;
  padding: 0px;
  border-radius: 15px;
  overflow: hidden;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
  background-color: #ccc;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}


/* activate toggle */
.accordion_item.active .button {
  background-color: #3d3d3d;
}
.answer_wrapper {
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s;
  font-size: small;
}

.button {
  font-size: 16px;
  background-color: #353535;
  color: rgb(255, 255, 255);
  text-align: left;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  cursor: pointer;
  border: none;
  border-bottom: #f1f1f1 1px solid;
}

.control {
  font-size: 20px;
}

.answer {
  background-color: #f7f7f7;
  padding: 20px;
}

.card_action{
  width: 50%;
  color:rgb(0, 0, 0);
  background-color: #f1f1f1;
  border: none;
  height: 50px;
  border-top: 1px solid #282c34;
}
.card_action.active{
  background-color: #dddddd !important;
}
.search_img{
  float: left;
  width: 30%;
}
.search_box{
  padding-left: 5%;
  width: 95%;
  padding-top: 5px;
  padding-bottom: 10px;
  border-top: #cfcfcf 1px solid;
}
.search_title{
  margin: 0;
  font-size: large;
  font-weight: bold;
}
.search_desc{
  margin: 0;
  font-size: small;
  font-weight: 500;
}
.v_div{
  min-width: 1px;
  background: #282c34;
  float: left;
}
.tag{
  background-color: #001641;
  color: white;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 25px;
  border-radius: 15px;
  padding-right: 15px;
}
.tag.active{
  background-color: #252525;
}
.tag_icon{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}
.page{
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* React Exports */


	#Group_1 {
		overflow: visible;
	}
	#cat {
		width: 100%;
		left: 0px;
		top: 0px;
		overflow: visible;
    border-radius: 15px;
	}
	#This_is_a_title {
		overflow: visible;
		width: 99px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(35,35,35,1);
	}
	#This_is_a_description_This_tex {
		overflow: visible;
		width: 291px;
		height: 63px;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(35,35,35,1);
	}
	#Icon_awesome-share-alt {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-share-alt {
		overflow: visible;
		width: 17.063px;
		height: 19.5px;
    float: left;
	}
	#Icon_awesome-heart {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-heart {
		overflow: visible;
		width: 19.5px;
		height: 17.063px;
    float: left;
	}
	#Like {
		overflow: visible;
		width: 25px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(35,35,35,1);
    float: left;
    padding-left: 5px;
    padding-right: 30px;
	}
	#Share {
		overflow: visible;
		width: 36px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(35,35,35,1);
    float: left;
    
    padding-left: 5px;
    padding-right: 30px;
	}

  .gallery_actions{
    padding-top: 30px;
    padding-bottom: 30px;
  }



	#Group_8 {
		position: relative;
		width: 486px;
		height: 558px;
		overflow: visible;
    float: left;
	}
  #Group_8::after{
    clear: both;
  }
	#Rectangle_2 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_2 {
		position: absolute;
		overflow: visible;
		width: 486px;
		height: 558px;
		left: 0px;
		top: 0px;
	}
	#cat_bz {
		position: absolute;
		width: 486px;
		height: 304px;
		left: 0px;
		top: 99px;
		overflow: visible;
	}
	#cat_b {
		position: absolute;
		width: 57px;
		height: 57px;
		left: 20px;
		top: 22px;
		overflow: visible;
	}
	#Shaun_Paul_Singh_Singapore_100 {
		left: 92px;
		top: 22px;
		position: absolute;
		overflow: visible;
		width: 108px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(35,35,35,1);
	}
	#This_is_a_title_b {
		left: 20px;
		top: 423px;
		position: absolute;
		overflow: visible;
		width: 449px;
		height: 27px;
		text-align: left;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(35,35,35,1);
	}
	#This_is_a_description_This_tex_b {
		left: 20px;
		top: 455px;
		position: absolute;
		overflow: visible;
		width: 441px;
		height: 42px;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(35,35,35,1);
	}
	#ACTION_1 {
		left: 300px;
		top: 518px;
		position: absolute;
		overflow: visible;
		width: 71px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,144,255,1);
	}
	#ACTION_2 {
		left: 390px;
		top: 518px;
		position: absolute;
		overflow: visible;
		width: 71px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,144,255,1);
	}


  #Group_7 {
		position: relative;
		width: 486px;
		height: 577px;
		overflow: visible;
    float: left;
	}
  #Group_7::after {
    clear: both;
	}
	#Rectangle_3 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_3 {
		position: absolute;
		overflow: visible;
		width: 486px;
		height: 577px;
		left: 0px;
		top: 0px;
	}
	#cat_ca {
		position: absolute;
		width: 486px;
		height: 304px;
		left: 0px;
		top: 61px;
		overflow: visible;
	}
	#Login__Sign_Up {
		left: 20px;
		top: 22px;
		position: absolute;
		overflow: visible;
		width: 125px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(35,35,35,1);
	}
	#This_is_a_title_ca {
		left: 20px;
		top: 380px;
		position: absolute;
		overflow: visible;
		width: 449px;
		height: 27px;
		text-align: left;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(35,35,35,1);
	}
	#LOG_IN {
		left: 322px;
		top: 532px;
		position: absolute;
		overflow: visible;
		width: 52px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,144,255,1);
	}
	#REGISTER {
		left: 388px;
		top: 532px;
		position: absolute;
		overflow: visible;
		width: 68px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,144,255,1);
	}
	#username {
		left: 20px;
		top: 417px;
		position: absolute;
		overflow: visible;
		width: 115px;
		height: 21px;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(35,35,35,1);
	}
	#password {
		left: 20px;
		top: 453px;
		position: absolute;
		overflow: visible;
		width: 115px;
		height: 21px;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(35,35,35,1);
	}
	#Rectangle_4 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_4 {
		position: absolute;
		overflow: visible;
		width: 345px;
		height: 26px;
		left: 110px;
		top: 417px;
	}
	#Rectangle_5 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_5 {
		position: absolute;
		overflow: visible;
		width: 345px;
		height: 26px;
		left: 110px;
		top: 453px;
	}
	#Forgot_Password {
		left: 110px;
		top: 486px;
		position: absolute;
		overflow: visible;
		width: 94px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(0,144,255,1);
	}
	#Trouble_Logging_In {
		left: 217px;
		top: 486px;
		position: absolute;
		overflow: visible;
		width: 106px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(0,144,255,1);
	}
	#Line_1 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 13.5px;
		left: 210.5px;
		top: 489px;
		transform: matrix(1,0,0,1,0,0);
	}



  #Group_10 {
		position: relative;
		width: 486px;
		height: 199px;
		overflow: visible;
	}
	#Rectangle_2_ct {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_2_ct {
		position: absolute;
		overflow: visible;
		width: 486px;
		height: 199px;
		left: 0px;
		top: 0px;
	}
	#This_is_a_title_cu {
		left: 20px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 449px;
		height: 27px;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(35,35,35,1);
	}
	#This_is_a_description_This_tex_cv {
		left: 20px;
		top: 55px;
		position: absolute;
		overflow: visible;
		width: 441px;
		height: 42px;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(35,35,35,1);
	}
	#ACTION_1_cx {
		left: 300px;
		top: 158px;
		position: absolute;
		overflow: visible;
		width: 71px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,144,255,1);
	}
	#ACTION_2_cx {
		left: 390px;
		top: 158px;
		position: absolute;
		overflow: visible;
		width: 71px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,144,255,1);
	}
	#Dialogue_Components {
		left: 46px;
		top: 1690px;
		position: absolute;
		overflow: visible;
		width: 199px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(35,35,35,1);
	}