html{
  background-color: #ffd000;
}
body{
  padding: 30px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.clearall{
  clear: both;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.third{
  width: 30%;
  padding: 1%;
}
.padding{
  padding: 30px;
}
.navbar{
  height: 50px;
  background-color: #282c34;
  color: white;
  padding: 10px;
}
.navbar ul{
  list-style: none;
}
.left{
  float: left;
}
.right{
  float: right;
}
.v_space{
  margin-left: 15px;
}
.form_component{
  background-color: #f1f1f1;
  border-radius: 30px;
  padding: 30px;
}
.label_form{
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
}
.input_form{
  border: #282c34 solid 1px;
  border-radius: 5px;
  background-color: white;
  margin: 10px;
}
.form_btn{
  border-radius: 5px;
  background-color: rgb(132, 173, 128);
  margin: 10px;
  padding: 10px;
  color: white;
  border: none;
}
.gallery_container{
  width: 30%;
  overflow: hidden;
  margin-right: 5px;
}
.gallery_item{
  display: block;
  width: 100%;
  float: left;
  padding-right: 1%;
  list-style: none;
}
.gallery_img{
  display: block;
  position: relative;
  width: 100%;
}
.card{
  background-color: #f1f1f1;
  border-radius: 30px;
  padding: 30px;
}
.card_img{
  width: 100%;
  border-radius: 15px;
}
.dialogue{
  background-color: #f1f1f1;
  padding: 30px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  color: #444;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  list-style: none;
  margin-left: -30px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}


/* activate toggle */
.accordion_item.active .button {
  background-color: #ffd900;
}
.answer_wrapper {
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s;
}

.button {
  font-size: 16px;
  background-color: #ffd900;
  color: rgb(0, 0, 0);
  text-align: left;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8px;
  cursor: pointer;
  border: none;
}

.control {
  font-size: 20px;
}

.answer {
  background-color: #f7f7f7;
  padding: 20px;
}

.card_action{
  width: 50%;
  color:rgb(0, 0, 0);
  background-color: #f1f1f1;
  border: none;
  height: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
